CompileFlags:
  CompilationDatabase: .
  Add: [
    "--target=arm-none-eabi",

    # Newlib (math.h, stdio, etc.)
    "-isystem", "/opt/arm-toolchain/arm-none-eabi/include",
    "-isystem", "/opt/arm-toolchain/lib/gcc/arm-none-eabi/13.2.1/include",

    # Project-local includes (relative to firmware/)
    "-I./Core/Inc",
    "-I./Drivers/STM32U5xx_HAL_Driver/Inc",
    "-I./Drivers/CMSIS/Include",
    "-I./Drivers/CMSIS/Device/ST/STM32U5xx/Include",

    # Shared driver modules (relative to firmware/)
    "-I./drv-modules/nmea0183",
    "-I./drv-modules/CV7-windsensor",
    "-I./drv-modules/briter-encoders",
    "-I./drv-modules/motor-base-PID",
    "-I./drv-modules/servo-solenoid"
  ]

Index:
  ExternalFiles: true
